/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");



/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is global  */


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}


/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Rubik", sans-serif;
  --main-heading: "Staatliches", cursive;
}


body {
  font-family: var(--body-typeface);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Typography */

h1 {
  font-size: 3em;
  font-family: var(--main-heading);
  line-height: 100%;
}

h2 {
  font-size: 3em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

h3 {
  font-size: 1.75em;
  font-family: var(--main-heading);
  margin-bottom: 1em;
}

h4 {
  font-size: 1.5em;
  font-family: var(--main-heading);
}

p {
  line-height: 1.35em;
  font-size: 1.1em;
  padding-bottom: 2em;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
}

a:hover {
  color: #111;
}

/* navigation header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0);
  position: relative;
  width: 95%;
  margin: auto;
}

.header .active {
  color: #000000;
}

.header ul {
  padding: 0.5em;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li {
  padding: 1em;
  padding-left: 1em;
  font-size: 1.4em;
  font-family: var(--main-heading);
}

.header li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  color: rgb(146, 146, 146);
}

.header li a:hover {
  color: #111;
}


.header .logo img {
  display: block;
  float: left;
  padding: 1.5em;
  text-decoration: none;
  max-height: 12vh;
}


/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}


/* Text-centering */
.title,
.desc,
.intro {
  text-align: center;
}

.title {
  margin-top: 1em;
  text-transform:
}

/*  filter section */

.intro {
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  margin-bottom: 1.75em;
}

.intro a:hover {
  color: #111;
}

.intro h3 {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;

}

.intro h3 a {
  font-weight: 400;
  color: rgb(192, 192, 192);
}

.intro .active {
  color: #000000;
  text-decoration: underline;
}

/* Masonry grid */

.wrapper {
  margin: auto;
  padding: 0.25em;
  max-width: 90vw;

}

.masonry {
  transition: all .5s ease-in-out;
  column-gap: 0.75em;
  column-fill: initial;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-size: 1.25em;
  padding: 0.5em;
}

/* Masonry item */
.masonry .brick {
  position: relative;
  margin-bottom: 0.75em;
  display: inline-flex;
  /* Fix the misalignment of items */
  vertical-align: top;
  /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .25s ease-in-out;
  backface-visibility: hidden;
  /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  -webkit-filter-: blur(8px);
  /* Chrome, Safari, Opera */
  filter: blur(8px) grayscale(100%);

}

.masonry .brick:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);

}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}

/* Navigation 2 */



/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: .2s ease-out;
  width: 18px;
  margin: 1.25em;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 500px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 1000px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 1em;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}


/* Project Page */

.project-wrapper {
  background: #ffffff;
}

.project-aside {
  max-width: 80vw;
  line-height: 125%;
}

.project-navigation {
  margin: auto;
  max-width: 40%;
  display: flex;
  flex-direction: row;
}

.project-gallery-row {
  clear: both;
  display: block;
}

.project-gallery-column {
  display: inline-block;
  max-width: 20%;
  padding: 0.2em;
  object-fit: cover;

}

/* Clearfix (clear floats) */

.project-aside,
.project-details p {
  padding: 2em 0 3.5em;
  line-height: 1.5em;
  max-width: 55vw;
  margin: auto;
}

.project-aside h1 {
  padding: 0.5em 0 1em;
  text-align: center;
  max-width: 60vw;
  margin: auto;
}

.arrow {
  margin: auto;
  padding: 0 0 3em 0;
  height: auto;
  font-size: 1.7em;
  color: #555;
}

.arrow a {
  text-decoration: none;
  color: #333;
}

.project-details {
  max-width: 70vw;
  margin: auto;
}

.project-details img {
  margin: auto;
  padding: 0.5em;
}

/* Mobile About */
.container {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "portrait-image"
    "biography"
    "work-history";
}

.portrait-image {
  grid-area: portrait-image;
  padding: 2em;
}

.portrait-image img {
  display: block;
}

.biography {
  grid-area: biography;
  padding: 2em;
  max-width: 100%;
}

.biography p {
  max-width: 100%;
}

.biography a {
  color: rgb(48, 48, 48);
  text-decoration: underline;
}

.biography h4 {
  color: rgb(139, 139, 139);
  padding: 2em 0 2em 0;
}

.work-history {
  grid-area: work-history;
  padding: 2em;
}

.work-history li {
  line-height: 1.4em;
  font-size: 0.85em;
}

/* Footer */

.main-footer {
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.footer-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  background: rgb(192, 192, 192);
}

.social-icon-item {
  padding: 1rem;
}

.social-icon-hyperlink {
  text-decoration: none;
  color: #333;
}

.footer-credit {
  font-size: 1.0em;
  font-weight: 100;
  background: yellowgreen;
  padding-bottom: .275rem;
}

.back-to-top {
  font-weight: 100;
  text-decoration: none;
  color: #333;
  background: red;
}






/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: rgba(0, 0, 0, 0.05);
  }

  /* About */
  .container {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1.1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "portrait-image biography biography biography"
      "portrait-image work-history work-history work-history";
  }

  .portrait-image {
    grid-area: portrait-image;
    padding: 0 2em 0 2em;
  }

  .portrait-image img {
    display: block;
  }

  .biography {
    grid-area: biography;
    padding: 0 3em;
    max-width: 80%;
  }

  .biography p {
    max-width: 50vw;
  }

  .biography a {
    color: rgb(48, 48, 48);
    text-decoration: underline;
  }

  .biography h4 {
    color: rgb(139, 139, 139);
    padding: 2em 0 2em 0;
  }

  .work-history {
    grid-area: work-history;
    padding: 3em;
  }

  .work-history li {
    line-height: 1.4em;
    font-size: 0.85em;
  }
}